<div class="page-header">
  <h1>Public Buckets</h1>
</div>

<form action="/buckets" method="get">
  <div class="form-group">
    <input type="text" class="form-control" name="query" id="bucket_search" placeholder="Search..." value="<%=h @query %>" />
  </div>
</form>

<% if @buckets.count.zero? %>
  <h2>Nothing to show</h2>
<% else %>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>URL</th>
        <th>Crawled At</th>
        <th>Discovered At</th></th>
      </tr>
    </thead>
    <tbody>
      <% @buckets.each do |bucket| %>
        <tr>
          <td><strong><a href="/buckets/<%=h bucket.name %>"><%=h bucket.name %></a></strong></td>
          <td><a href="<%=h bucket.url %>" target="_blank"><%=h bucket.url %></a></td>
          <td><%=h bucket.crawled_at ? bucket.crawled_at.strftime("%d/%m/%Y %H:%M") : "Never" %></td>
          <td><%=h bucket.created_at.strftime("%d/%m/%Y %H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <ul class="pager">
    <% if @buckets.first_page? %>
      <li class="disabled"><a href="#">&laquo; Previous page</a></li>
    <% else %>
      <% if @query %>
        <li><a href="/buckets?query="<%=h @query %>&page=<%=h @buckets.current_page - 1 %>">&laquo; Previous page</a></li>
      <% else %>
        <li><a href="/buckets?page=<%=h @buckets.current_page - 1 %>">&laquo; Previous page</a></li>
      <% end %>
    <% end %>
    <% if @buckets.last_page? %>
      <li class="disabled"><a href="#">Next page &raquo;</a></li>
    <% else %>
      <% if @query %>
        <li><a href="/buckets?query=<%=h @query %>&page=<%=h @buckets.current_page + 1 %>">Next page &raquo;</a></li>
      <% else %>
        <li><a href="/buckets?page=<%=h @buckets.current_page + 1 %>">Next page &raquo;</a></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
